@import '../baseColors', '../mixins';

.gallery-horizontal-line-break{
  margin-bottom: 30px;

}

.gallery-loading{
  text-align: center;
  margin: auto;
  width: 100px;
}

.drop-zone{
  width: 100%;
  padding: 25px;
  border-radius: 5px;
  border: dashed 2px darkslategrey;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
  @include breakpoint(extra-small){
    font-size: 13px;
  }
}

.preview-area {
  width: 100%;
  .preview-image {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 2px;
    box-shadow: 0 2px 20px darkslategray;
  }
}

.preview-action-area{
  margin-top: 15px;
  margin-bottom: 20px;
  button{
    text-align: center;
    width: 100%;

    @include breakpoint(small){
      font-size: 16px;
    }
    @include breakpoint(extra-small){
      font-size: 13px;
    }
  }
}

.gallery-displayer{
  .image-gallery-slides{
    box-shadow: 0 2px 20px darkslategray;
  }
    .image-gallery-image {
      width: 100%;
   }
}
