@import '../baseColors', '../mixins';

.gallery-horizontal-line-break{
  margin-bottom: 30px;

}

.gallery-loading{
  text-align: center;
  margin: auto;
  width: 100px;
}

.drop-zone{
  width: 100%;
  padding: 25px;
  border-radius: 8px;
  border: solid 2px darkslategrey;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
  @include breakpoint(extra-small){
    font-size: 13px;
  }
}

.preview-area {
  width: 100%;
  .preview-image {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 2px;
    box-shadow: 0 2px 20px darkslategray;
  }
}

.preview-action-area{
  margin-top: 15px;
  margin-bottom: 20px;
  button{
    text-align: center;
    width: 100%;

    @include breakpoint(small){
      font-size: 16px;
    }
    @include breakpoint(extra-small){
      font-size: 13px;
    }
  }
}

.gallery-manager-area{
  margin-bottom: 30px;
}

.gallery-manager-card{
  margin-top: 20px;
}

.gallery-manager-card-block {
  background-color:$dark;
  box-shadow: 0 2px 20px darkslategray;
  .delete-images-button{
    margin-top: 10px;
    margin-bottom: 10px;
    color: $coWhite;
  }
  .image-in-manager {
    img {
      max-width: 180px;
      max-height: 120px;
      cursor: pointer;
      border-radius: 2px;
      border:2px solid transparent;
    }
    .image-selected{
      border-radius: 2px;
      border:2px solid $coYellow;
    }
    margin-bottom: 15px;
  }
}

.gallery-displayer{
  .image-gallery-slides{
    box-shadow: 0 2px 20px darkslategray;
  }
    .image-gallery-image {
      width: 100%;
   }
}

.image-gallery-delete-section {
  position: absolute;
  z-index: 999;
  .image-gallery-delete-button {
    background-color: transparent;
    color: cyan;
    cursor: pointer;
  }
}