.gallery-horizontal-line-break{
  margin-bottom: 30px;

}

.gallery-loading{
  text-align: center;
  margin: auto;
  width: 100px;
}


.gallery-displayer{
    .image-gallery-image {
      width: 100%;
    }
}
