//buttons
@mixin btn-transition($seconds) {
  transition: $seconds ease;
}

@mixin btn-shadow(){
  box-shadow: 1px 2px black;
}

@mixin btn-shadow-hover(){
  box-shadow: 0 0 0 transparent;
}

@mixin breakpoint($type){
  @if $type == 'medium'{
    @media screen and(max-width: 992px){
      @content;
    }
  }
  @if $type == 'small'{
    @media screen and(max-width: 767px) {
      @content;
    }
  }
  @if $type == 'smaller'{
    @media screen and(max-width: 575px){
      @content;
    }
  }
  @else if $type == 'extra-small'{
    @media screen and(max-width: 480px){
      @content;
    }
  }
}

@mixin minBreakPoint($type){
  @if $type == 'small'{
    @media screen and (min-width: 768px){
      @content;
    }
  }
  @if $type == 'smaller'{
    @media screen and (min-width: 576px){
      @content;
    }
  }
  @if $type == 'extra-small'{
    @media screen and (min-width: 481px){
      @content;
    }
  }
}