@import 'baseColors';

//logo style
.logo {
  max-height: 30px;
}
//logo style end


//navbar header styles
.header {
  a {
    position: relative;
    color: $coWhite;
    z-index: 2;
  }
  .navbar-nav {
    div{
      top:0;
      background-color: $coYellow;
      position: absolute;
      height: 0px;
      width: 78px;
      display: block;
      margin-left: -5px;
      webkit-transition: height 0.5s;
      -moz-transition: height 0.5s;
      -ms-transition: height 0.5s;
      -o-transition: height 0.5s;
      transition: height 0.5s;
      z-index: 1;
    }
    .nav-item:hover{
      div{
        height: 54px;
      }
      a{
        color: $coBlue;
      }
    }
    a.active {
      color: $coYellow;
    }
    margin-top: 2px;
    margin-bottom: 5px;
  }
  button{
    border: none;
    outline: 0;
    color: #FFD700;
  }
}
//navbar header styles end



@media(max-width: 767px) {
  //navbar header responsiveness
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
    padding-left:0;
  }
  #navContent {
    clear: both;
  }
  .header{
    .navbar-nav{
      div{
        display: none;
      }
      .nav-item:hover{
        a{
          color:$coYellow;
        }
      }
    }

  }
  //navbar header responsiveness
}