@import '_baseColors', '_mixins';

#app {
  font: 15px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

html, body{
  height: 100%;
}

//buttons standard
.btn {
  border: none;
  outline: none;
  @include btn-transition(0.5s);
}

.btn:focus{
  outline:none;
}

button{
  border:none;
  outline: none;
  @include btn-transition(0.5s);
}

button:focus{
  outline:none;
  border:none;
}
//buttons standard end
