@import '_baseColors', '_mixins';

#app {
  font: 15px 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0 auto;
  .main{
    padding: 0;
    margin: 0;
  }
}

html, body{
  //height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

//links
a:hover{
 text-decoration: none;
}
//links end

//buttons standard
.btn {
  border-radius: 0;
  border: none;
  outline: none;
  @include btn-transition(0.5s);
}

.btn:focus{
  outline:none;
}

button{
  border-radius: 0;
  border:none;
  outline: none;
  @include btn-transition(0.5s);
}

button:focus{
  outline:none;
  border:none;
}

.ghost-white-button{
  background-color: ghostwhite;
  color: $dark;
  width: 100%;
}

.ghost-white-button:hover{
  background-color: $dark;
  color: ghostwhite;
}

.accept-dark-button {
  @include btn-transition(0.5s);
  text-align: center;
  background-color: $dark;
  color: $coWhite;
  width: 100%;
}

.accept-dark-button:hover {
  background-color: darkblue;
  color: $coWhite;
}

.accept-yellow-button {
  @include btn-transition(0.5s);
  text-align: center;
  background-color: $coYellow;
  color: $dark;
  width: 100%;
}

.accept-yellow-button:hover {
  background-color: $broncosOrange;
  color: $dark;
}

.standard-in-progress-button-icon{
  position: absolute;
  left: 30px;
  @include breakpoint(tablet){
    left: 20px;
  }
}
//buttons standard end

//jumbotron
.jumbotron{
  border-radius: 0px;
  //margin: 0;
}
