@import '_baseColors', '_mixins';

#app {
  font: 15px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

html, body{
  height: 100%;
}

//buttons standard
.btn {
  border: none;
  @include btn-transition(0.5s);
}
//buttons standard end


//validation errors animations
.validation-error{
  position: relative;
  bottom:0;
}

@keyframes error-validation-in {
  from{opacity: 0; bottom: 10px;}
  //25%{opacity: 0.3; bottom: 10px;}
  50%{opacity: 0.5; bottom: 5px;}
  to{opacity: 1; bottom:0;}
}

@keyframes error-validation-out{
  //25%{opacity: 0.5; bottom:5px}
  50%{opacity: 0.5; bottom: 5px}
  to{opacity: 0; bottom: 10px;}
}

@mixin animationMixin($animationName, $animationTimingFunction){
  -webkit-animation-name: $animationName;
  -webkit-animation-duration: .6s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: $animationTimingFunction;
  animation-name: $animationName;
  animation-duration: .6s;
  animation-iteration-count: 1;
  animation-timing-function: $animationTimingFunction;
}


.error-validation-enter{
  @include animationMixin(error-validation-in, ease-out);
}

.error-validation-leave{
  @include animationMixin(error-validation-out, ease-in);
}
//validation errors animations end