@import '../mixins', '../baseColors';

//footer styles
.site-footer{
  overflow-x:hidden; //hide the overflows because it creates white space on the right side of a site.
  background-color: $dark;
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  margin: 0;
  height: 200px;
  width: 100%;
}

.horizontal-footer-break {
  margin-top: 50px;
  @include breakpoint(small){
    margin-top: 20px;
  }
}

.copyright-info {
  font-style: oblique;
  font-size: 12px;
  text-align: center;
  .company-name{
    margin-bottom: 0;
  }
}

.facebook-link {
  color: darkgray;
  &:hover{
    color: white;
  }
  .facebook-logo-footer{
    margin: 10px 0;
  }
}
//footer styles end