@import '../mixins';

//footer styles
.horizontal-footer-break {
  margin-top: 50px;
  @include breakpoint(small){
    margin-top: 20px;
  }
}

.watermark {
  font-style: oblique;
  font-size: 12px;
  text-align: center;
  .company-name{
    margin-bottom: 0;
  }
}

.facebook-link {
  color: darkgray;
}

.facebook-link:hover {
  color: gray;
}

//footer styles end

//@media(max-width: 767px) {
//  //footer responsiveness
//  .horizontal-footer-break {
//    margin-top: 20px;
//  }
//}

//footer responsiveness end