@import '../baseColors', '../mixins';

//logo style
.logo {
  max-height: 30px;
}
//logo style end


//navbar header styles
.header {
  margin-bottom: 30px;
  .navbar{
    border-radius: 0px;
  }
  .navbar-brand{
    position: relative;
  }
  .main-brand:hover{
    //color: $coYellow;
    color:grey;
  }
  .nav-item {
    background-color: $lightOrange; //new
    padding: 10px; //new
    border-radius: 2px; //new
    a {
      position: relative;
      color: ghostwhite;
      //color: darkslategrey;
      z-index: 2;
    }
  }
  .navbar-nav {
    display: inline-block; //new
    vertical-align: top; //new

    //div{
    //  top:0;
    //  //background-color: $coYellow;
    //  background-color: $dark;
    //  position: absolute;
    //  height: 0px;
    //  display: block;
    //  transition: height 0.5s;
    //  z-index: 1;
    //}
    //.menu-home{
    //  @extend div;
    //  width: 68px;
    //  margin-left: -4px;
    //}
    //.menu-about{
    //  @extend div;
    //  width: 68px;
    //  margin-left: -5px;
    //}
    //.menu-gallery{
    //  @extend div;
    //  width: 78px;
    //  margin-left: -5px;
    //}
    //.menu-contact{
    //  @extend div;
    //  width: 82px;
    //  margin-left: -5px;
    //}
    //.menu-events{
    //  @extend div;
    //  width: 74px;
    //  margin-left: -5px;
    //}
    .nav-item:hover{
      //div{
      //  height: 54px;
      //}
      background-color: darkorange;
      a{
        //color: $coBlue;
        //color:$coWhite;
        //color: $dark;
      }
    }
    a.active {
      //color: $coYellow;
      color: black;
    }
    margin-top: 2px;
    margin-bottom: 5px;
  }

  .navbar-toggler{
    border: none;
    outline: 0;
    //color: $coYellow;
    color: $dark;
    position: relative;
    cursor: pointer;
    font-size: 1.7em;
  }
}
//navbar header styles end

//navbar header responsiveness
@media(max-width: 767px) {

  .navbar-nav .nav-item + .nav-item{
    margin-left:0;
  }
  //.nav-item{
  //  margin-left: 10px !important;
  //}
  #navContent {
    clear: both;
  }
  .header{
    .navbar-nav{
      div{
        display: none;
      }
      .nav-item:hover{
        a{
          color:black;
        }
      }
    }

  }
}
//navbar header responsiveness

.header-new{
  padding-top: 8px;
  padding-left: 10px;
  height: 50px;
  width: 100%;
  background-color: $lightOrange;
  text-align: left;
}


.sidebar-toggler{
  box-shadow: 0 0 0 transparent;
  background-color: transparent;
  cursor: pointer;
  color: $dark;
  @include minBreakPoint(extra-small){
    display: none;
  }
}

.sidebar{
  box-shadow: 5px 5px 15px $dark;
  overflow-y: hidden;
  z-index: 1000;
  position: absolute;
  left: -300px;
  top: 50px;
  bottom: 0;
  width: 150px;
  transition: left 0.3s ease-out;
  background-color: $lightOrange;
  &.open{
    left: 0;
    padding-right: 10px;
  }
  @include minBreakPoint(extra-small){
    display: none;
  }
}

.header-main-menu {
  margin-top: 8px;
  padding: 0;
  .main-menu {
    margin-left: -35px;
    .main-menu-link-container {
      text-align: center;
      margin-left: 15px;
      display: inline;
    }
  }
  @include breakpoint(extra-small){
    display: none;
  }
}

.sidebar-menu{
  margin-top: 10px;
  margin-left: -20px;
  list-style: none;
  text-align: left;
  .side-menu-link-container{
    margin-bottom: 15px;
  }
}

.menu-link{
  color: ghostwhite;
  text-decoration: none;
  &:hover{
    color: $dark;
    text-decoration: none;
  }
  &.active{
    color: black;
    text-decoration: none;
  }
}