@import '../mixins', '../baseColors';

.Contact {
  .contact-header {
    font-size: 20px;
    @include breakpoint(extra-small){
      font-size: 18px;
    }
    color: $coRed;
  }
}

.contact-us-member-list {
  font-size: 16px;
  @include breakpoint(extra-small){
    font-size: 14px;
  }
  .contact-us-list-item {
    margin-top: 10px;
  }
}
.jumbotron {
  background-color: gainsboro;
}


.input-fields {
  label {
    color: $coRed;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
  }

  //.submit-contact{
  //  margin-right: 20px;
  //}
  //.cancel-contact{
  //  margin-left: 20px;
  //}

  .submit-contact-button {
    @include btn-transition(0.5s);
    text-align: center;
    background-color: #2d4746;
    color: $coWhite;
    width: 100%;
  }

  .submit-contact-button:hover {
    background-color: darkblue;
  }

  .cancel-contact-button{
    text-align: center;
    width: 100%;
  }

  .news-letter-question, .receive-emails-question{
    color: $coRed;
    font: italic bold 15px arial, sans-serif;
  }

  .news-letter, .receive-emails{
    margin-top: 10px;
  }

  input[type=checkbox]{
    display: none;
  }


  @mixin checkBoxDefaultStyles(){
    text-align: center;
    margin-right: 5px;
    font-size: 16px;
    width: 25px;
    border-radius: 15%;
    color: white;
    background-color: orange;
    cursor: pointer;
  }

  .contact-checkbox-button{
    @include checkBoxDefaultStyles();
  }


  .contact-checkbox-unchecked{
    -moz-box-shadow: inset 0 0 0 2px orange;
    -webkit-box-shadow: inset 0 0 0 2px orange;
    box-shadow: inset 0 0 0 2px orange;
    //border: 1px solid darkslategray;
    background-color: white;
    .fa{
      visibility: hidden;
    }
  }

  .contact-message{
    margin-top: 20px;
  }
}

.sending-contact-icon{
  position: absolute;
  left: 35px;
  @include breakpoint(tablet){
    left: 20px;
  }
}

//@media screen and(min-width: 767px){
//  .sending-contact-icon{
//    left: 20px;
//  }
//}

@media screen and(max-width: 992px) {
  .Contact {
    .jumbotron {
      .contact-user-info {
        width: auto;
      }
    }
  }
}

@media screen and(max-width:767px){
  .receive-emails{
    margin-top: 15px;
  }
  .cancel-contact{
    margin-top: 10px;
  }
}