@import '../mixins', '../baseColors';

.Contact {
  .contact-header {
    font-size: 20px;
    @include breakpoint(extra-small){
      font-size: 18px;
    }
    color: grey;
  }
}

.contact-us-member-list {
  font-size: 16px;
  @include breakpoint(extra-small){
    font-size: 14px;
  }
  .contact-us-list-item {
    margin-top: 10px;
  }
}

.contact-us-form{
  padding: 10px;
  background-color: ghostwhite;
  border-radius: 2px;
}

.input-fields {
  label {
    color: black;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
  }

  .news-letter-question, .receive-emails-question{
    color: black;
    font: italic bold 15px arial, sans-serif;
  }

  .news-letter, .receive-emails{
    margin-top: 10px;
  }

  input[type=checkbox]{
    display: none;
  }


  @mixin checkBoxDefaultStyles(){
    text-align: center;
    margin-right: 5px;
    font-size: 16px;
    width: 25px;
    border-radius: 15%;
    color: white;
    background-color: $lightOrange;
    cursor: pointer;
  }

  .contact-checkbox-button{
    @include checkBoxDefaultStyles();
  }


  .contact-checkbox-unchecked{
    box-shadow: inset 0 0 0 2px $lightOrange;
    background-color: white;
    .fa{
      visibility: hidden;
    }
  }

  .contact-message{
    margin-top: 20px;
  }
}

@media screen and(max-width: 992px) {
  .Contact {
    .jumbotron {
      .contact-user-info {
        width: auto;
      }
    }
  }
}

@media screen and(max-width:767px){
  .receive-emails{
    margin-top: 15px;
  }
  .cancel-contact{
    margin-top: 10px;
  }
}