@import '../baseColors';

//carousel styles
#carousel-home {
  .carousel-indicators{
    top: 0;
  }
}

.carousel-item{
  max-height: 600px;
  img{
    width:100%;
    top:0;
  }
}
//carousel styles end


.home-info-jumbo{
  text-align: center;
  .lincoln-quote{
    font-size: 14px;
    font-style: oblique;
  }
  .lincoln{
    font-style: oblique;
  }
  .jumbo-2{
    margin-top: 15px;
  }
  .btn{
    text-align: center;
    //padding: 10px 12px;
    padding-top: 10px;
    width: 100%;
  }
  .jumbotron{
    margin-bottom: 0;
    background-color: $coRed;
    color: $coWhite;
  }
}


//video section styles
.homepage-card-section{
}
//video section styles end

@media screen and(max-width: 480px){
  //carousel responsiveness
  #carousel-home{
    .carousel-item{
      max-height: 200px;
    }
    .carousel-caption{
      padding-bottom: 0;
      h4{
        font-size: 16px;
      }
      p{
        font-size:12px;
      }
    }
  }
  //carousel responsiveness end

//jumbotron responsiveness
.home-info-jumbo{
  p{
    font-size:14px;
  }
  .btn{
    font-size: 14px;
    //width:100%;
    //padding: 8px 10px;
    padding-top: 8px;
  }
}
//jumbotron responsiveness end
}