@import '../baseColors', '../mixins';

//carousel styles
#carousel-home {
  .carousel-indicators{
    top: 0;
  }
}

.carousel-item{
  max-height: 500px;
  img{
    width:100%;
    top:0;
  }
}
//carousel styles end


.home-info-jumbo{
  .lincoln-quote{
    font-size: 16px;
    font-style: oblique;
    @include breakpoint(extra-small){
      font-size: 14px;
    }
  }
  .lincoln{
    font-style: oblique;
  }
  .mission-statement{
    margin-top: 15px;
    line-height: 20px;
  }
  .mission-statement-main{
    @include breakpoint(extra-small){
      font-size: 14px;
    }
  }
  .mission-statement-footer{
    font-size: 18px;
    @include breakpoint(extra-small){
      font-size: 16px;
    }
  }
  .btn{
    text-align: center;
    padding: 10px 12px;
    //padding-top: 10px;
    width: 100%;
    @include breakpoint(extra-small){
      font-size: 14px;
      //width:100%;
      padding: 8px 10px;
    }
  }
  .jumbotron{
    margin-bottom: 0;
    background-color: $coRed;
    color: $coWhite;
  }
}

.member-statement {
  .member-statement-header {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid $coWhite;
    font-size: 18px;
    @include breakpoint(extra-small) {
      font-size: 16px;
    }
  }
  .list-item{
    line-height: 20px;
    @include breakpoint(small){
      margin-top: 15px;
    }
    @include breakpoint(extra-small){
      font-size: 14px;
    }
  }
}

.contact-us-btn{
  margin-top: 25px;
}


//video section styles

//video section styles end

@media screen and(max-width: 480px){
  //carousel responsiveness
  #carousel-home{
    .carousel-item{
      max-height: 200px;
    }
    .carousel-caption{
      padding-bottom: 0;
      h4{
        font-size: 16px;
      }
      p{
        font-size:12px;
      }
    }
  }
  //carousel responsiveness end

}