@import '../baseColors', '../mixins';

//main intro image
.home-page-main-intro{
  min-width: 100%;
  min-height: 1080px;
  padding: 0;
  margin: 0;
  @include breakpoint(extra-small){
    background-attachment: scroll !important;
  }
  .home-page-intro-text-container{
    //font-family: Arial;
    opacity: 0.8;
    color: whitesmoke;
    margin-bottom: -10px;
    text-shadow: 1px 1px $dark;
    .home-page-main-text-hundred{
      padding-top: 20%;
      font-weight: 300;
      font-size: 200px;
      letter-spacing: 40px;
      @include breakpoint(small){
        padding-top: 50%;
      }
      @include breakpoint(smaller){
        letter-spacing: 10px;
      }
      @include breakpoint(extra-small){
        padding-top: 80%;
        font-size: 150px;
      }
    }
    .home-page-main-subtext{
      font-weight: 200;
      letter-spacing: 20px;
    }
    hr{
           margin-bottom: 0;
    }
    .home-page-main-subtext-together, .home-page-main-subtext-difference{
      font-weight: 300;
      letter-spacing: 10px;
    }
  }
  .about-btn{
    @include breakpoint(smaller){
      margin-top: 10px;
    }
  }
  .contact-btn{
    margin-left: 5px;
    @include breakpoint(smaller){
      margin: 10px 0 0 0;
    }
  }
}

//main intro image end


//carousel styles
#carousel-home {
  .carousel-indicators{
    top: 0;
  }
}

.carousel-item{
  max-height: 500px;
  img{
    width:100%;
    top:0;
  }
}
//carousel styles end


.home-info-jumbo{
  .lincoln-quote{
    font-size: 16px;
    font-style: oblique;
    @include breakpoint(extra-small){
      font-size: 14px;
    }
  }
  .lincoln{
    font-style: oblique;
  }
  .mission-statement{
    margin-top: 15px;
    line-height: 20px;
  }
  .mission-statement-main{
    @include breakpoint(extra-small){
      font-size: 14px;
    }
  }
  .mission-statement-footer{
    font-size: 18px;
    @include breakpoint(extra-small){
      font-size: 16px;
    }
  }
  .btn{
    text-align: center;
    padding: 10px 12px;
    //padding-top: 10px;
    width: 100%;
    @include breakpoint(extra-small){
      font-size: 14px;
      padding: 8px 10px;
    }
  }
  .jumbotron{
    margin-bottom: 0;
    background-color: $dark;
    color: $coWhite;
  }
}

.member-statement {
  .member-statement-header {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid $coWhite;
    font-size: 18px;
    @include breakpoint(extra-small) {
      font-size: 16px;
    }
  }
  .list-item{
    line-height: 20px;
    @include breakpoint(small){
      margin-top: 15px;
    }
    @include breakpoint(extra-small){
      font-size: 14px;
    }
  }
}

.contact-us-btn{
  margin-top: 25px;
}


//video section styles

//video section styles end

@media screen and(max-width: 480px){
  //carousel responsiveness
  #carousel-home{
    .carousel-item{
      max-height: 200px;
    }
    .carousel-caption{
      padding-bottom: 0;
      h4{
        font-size: 16px;
      }
      p{
        font-size:12px;
      }
    }
  }
  //carousel responsiveness end
}