@import "../baseColors", "../mixins";

#toHome:hover {
  background-color: #88abcf;
}

.about-us-page {
  .jumbotron{
    margin: 0;
  }

  .about-us-section{
    //background-color: ghostwhite;
    color:$dark;
    .about-us-horizontal-break{
      background-color:$dark;
    }
  }
  .about-us-text{
    line-height: 20px;
    font-size: 16px;
    @include breakpoint(extra-small){
      font-size: 14px;
    }
    .about-us-list-item{
      margin-top: 10px;
      text-align: left;
    }
  }
}