@import "../mixins", "../baseColors";

.events-horizontal-break-line{
  margin-bottom: 30px;
}

.events-view{
  label{
    color:$coRed;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
  }
}

.event-item{
  margin-bottom: 20px;
}

@mixin standardEventStyles{
  height: 100px;
  min-height: 100px;
  padding: 15px;
}

@mixin title-radius{
  border-radius: 20px 0 0 2px;
}

@mixin description-radius{
  border-radius: 0 2px 20px 0;
}

@mixin title-font-resize{
  font-size: 16px;
  @include breakpoint('extra-small') {
    font-size: 14px;
  }
}

@mixin description-font-resize{
  font-size: 14px;
  @include breakpoint('extra-small'){
    font-size: 12px;
  }
}

.event-title{
  font-style: oblique;
  background-color: lightskyblue;
  color: $coBlue;
  @include standardEventStyles;
  @include title-radius;
  @include title-font-resize;
}

.event-title-alternate{
  font-style: oblique;
  background-color: orange;
  color: $dark;
  @include standardEventStyles;
  @include title-radius;
  @include title-font-resize;
}

.event-description{
  background-color: darkgrey;
  color: $coWhite;
  @include standardEventStyles;
  @include description-radius;
  @include description-font-resize;
}

.event-description-alternate{
  background-color: $dark;
  color: $coWhite;
  @include standardEventStyles;
  @include description-radius;
  @include description-font-resize;
}

@media screen and(max-width: 575px){
  .event-title, .event-title-alternate{
    border-radius: 20px 2px 0 0;
  }
  .event-description, .event-description-alternate{
    border-radius: 0 0 20px 2px;
  }
}